$fontFamily: "Open Sans", sans-serif;


$mainColor: #234CA2;
$mainBackgroundColor: #FFFFFF;

$secondaryColor: #22B8A7;

$searchPanelBackgroundColor: #F4F4F4;
$footerBackgroundColor: #F7F8F8;

$mainColorHoverColor: #1b3b80;
$mainBackgroundColorHoverColor: #e9eefb;
$secondaryColorHover: #1d9a8b;

$mainFontColor: #000000;

$linkColor: #0066CC;

$breakpoint: 768px;